&{/chosen}{
  zephyr,console = &uart0;        
  zephyr,shell-uart = &uart0;     
	zephyr,uart-mcumgr = &uart0;    
	zephyr,bt-mon-uart = &uart0;    
	zephyr,bt-c2h-uart = &uart0;
	zephyr,display = &uc8179_waveshare_epaper;
};


&uart0_default{
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 4)>;
		};
    group2 {
			psels = <NRF_PSEL(UART_RX, 0, 5)>;
			bias-pull-up;
		};
	};

&uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_RX, 0, 8)>,
				<NRF_PSEL(UART_RTS, 0, 5)>,
				<NRF_PSEL(UART_CTS, 0, 7)>;
			low-power-enable;
		};

		group2 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>;
			low-power-enable;
			bias-pull-up;
		};
	};

&pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 11)>,
				<NRF_PSEL(PWM_OUT1, 0,13)>,
				<NRF_PSEL(PWM_OUT2, 0, 14)>;
			nordic,invert;
		};
};

&pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 11)>,
				<NRF_PSEL(PWM_OUT1, 0, 13)>,
				<NRF_PSEL(PWM_OUT2, 0, 14)>;
			low-power-enable;
	};
};

&led1_red {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Red LED 1";
		};

&i2c0_default{
	group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 23)>,
				<NRF_PSEL(TWIM_SCL, 0, 24)>;
	};
};	

&i2c0 {
	bmp280:bmp280@77{
		status = "okay";
		compatible = "bosch,bmp280";
		reg =<0x77>;
		mode = <3>;
		osrs-p = <5>;
		osrs-t = <3>;
		filter = <4>;
	};
	aht20:aht20@38{
		status = "okay";
		compatible = "asair,ath20";
		reg = <0x38>;
	};
};

&spi1_default{
	group1{
		psels = <NRF_PSEL(SPIM_SCK,0,14)>,
						<NRF_PSEL(SPIM_MOSI,0,31)>;
	};
};


&spi1{
	cs-gpios =<&gpio0 30 GPIO_ACTIVE_LOW>;
/*		
	display:display@0{
		compatible = "waveshare,e-paper-display";
		reg =<0>;
		spi-max-frequency = <1000000>;			
		gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>,
						<&gpio0 28 GPIO_ACTIVE_HIGH>,
						<&gpio0 3  GPIO_ACTIVE_HIGH>, 
						<&gpio1 15 GPIO_ACTIVE_HIGH>;
		gpio-names = "dc","reset","busy","power";
	};*/
};

/{
	  mipi_dbi_waveshare_epaper {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi1>;
		dc-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		uc8179_waveshare_epaper: uc8179@0 {
			compatible = "ultrachip,uc8179","gooddisplay,gdew075t7";
			mipi-max-frequency = <4000000>;
			reg = <0>;
			width = <160>;
			height = <296>;
			busy-gpios = <&gpio0 3  GPIO_ACTIVE_HIGH>;

			softstart = [17 17 17 17];

			full {
				pwr = [07 07 3f 3f];
				cdi = <07>;
				tcon = <0x22>;
			};
		};
	};
};


