&fdcan1{
  pinctrl-0 = <&fdcan1_rx_pa11 &fdcan1_tx_pa12>;
  pinctrl-names = "default";
  clocks= <&rcc STM32_CLOCK(APB1,25)>,<&rcc STM32_SRC_PLL_Q FDCAN_SEL(1)>;
  status = "okay";
};

&usart1{
  pinctrl-0 = <&usart1_rx_pa10 &usart1_tx_pa9>;
  pinctrl-names = "default";
  current-speed = <9600>;  
  status = "okay";
  lin-mode;
  wakeup-source;
  dmas = <&dmamux1 2 25 (STM32_DMA_PERIPH_TX |  STM32_DMA_PRIORITY_HIGH)>,
         <&dmamux1 1 24 (STM32_DMA_PERIPH_RX |  STM32_DMA_PRIORITY_HIGH)>;
  dma-names="tx","rx";
};

&dma1{
  status="okay";
};

&dmamux1 {
  status="okay";
};

&spi1{
  pinctrl-0 = <&spi1_sck_pa5
               &spi1_miso_pa6
               &spi1_mosi_pa7>;
  pinctrl-names = "default";  
  status = "okay";
};

&spi1_sck_pa5{
  /delete-property/ bias-pull-down;
  drive-push-pull;
};


&{/chosen}{
 zephyr,canbus =&fdcan1;
};

/{
    drv8838_enable: drv8838_enable{
      compatible = "ti,drv8838";
      gpios = <&gpiof 0x0 GPIO_ACTIVE_HIGH>;
    };

    drv8838_phase: drv8838_phase{
      compatible = "ti,drv8838";
      gpios = <&gpiof 0x1 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_ina: vnh5019a_ina{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x4 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_ena: vnh5019a_ena{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x5 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_inb: vnh5019a_inb{
      compatible = "st,vnh5019a";
      gpios = <&gpioa 0x8 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_enb: vnh5019a_enb{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x6 GPIO_ACTIVE_HIGH>;
    };

    ad7171_pdrst: ad7171_pdrst{
      compatible = "infineon,ad7171";
      gpios = <&gpioa 0x1 GPIO_ACTIVE_HIGH>;
    };

    ad7171_pdrst_2: ad7171_pdrst_2{
      compatible = "infineon,ad7171";
      gpios = <&gpioa 0x2 GPIO_ACTIVE_HIGH>;
    };

    tle94103_cs: tle94103_cs{
      compatible = "infineon,ad7171";
      gpios = <&gpioa 0x4 GPIO_ACTIVE_HIGH>;
    };
};




/*************************************
&adc1 {
  pinctrl-0 = <&adc1_in1_pa0 &adc1_in2_pa1>;
  pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
  st,adc-clock-source = "SYNC";  
  st,adc-prescaler = <1>;
  st,adc-internal-regulator = "startup-sw-delay";
	status = "okay";
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
    zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;	
		zephyr,resolution = <12>;
  };
  channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
    zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;	
		zephyr,resolution = <12>;
	};
};
****************************************/

/************************
/ {
	  zephyr,user {
		  io-channels = <&adc1 1>,< &adc1 2>;
	};
};
***********************/