&fdcan1{
  pinctrl-0 = <&fdcan1_rx_pa11 &fdcan1_tx_pa12>;
  pinctrl-names = "default";
  clocks= <&rcc STM32_CLOCK(APB1,25)>,<&rcc STM32_SRC_PLL_Q FDCAN_SEL(1)>;
  status = "okay";
};

&usart1{
  pinctrl-0 = <&usart1_rx_pa10 &usart1_tx_pa9>;
  pinctrl-names = "default";
  current-speed = <9600>;  
  status = "okay";
  lin-mode;
  dmas = <&dmamux1 2 25 (STM32_DMA_PERIPH_TX |  STM32_DMA_PRIORITY_HIGH)>,
         <&dmamux1 1 24 (STM32_DMA_PERIPH_RX |  STM32_DMA_PRIORITY_HIGH)>;
  dma-names="tx","rx";
};

&dma1{
  status="okay";
};

&dmamux1 {
  status="okay";
};

&spi1{
  pinctrl-0 = <&spi1_nss_pa4
               &spi1_sck_pa5
               &spi1_miso_pa6
               &spi1_mosi_pa7>;
  pinctrl-names = "default";
  status = "okay";
};

&{/chosen}{
 zephyr,canbus =&fdcan1;
};

/{
    drv8838_enable: drv8838_enable{
      compatible = "ti,drv8838";
      gpios = <&gpiof 0x0 GPIO_ACTIVE_HIGH>;
    };

    drv8838_phase: drv8838_phase{
      compatible = "ti,drv8838";
      gpios = <&gpiof 0x1 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_ina: vnh5019a_ina{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x4 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_ena: vnh5019a_ena{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x5 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_inb: vnh5019a_inb{
      compatible = "st,vnh5019a";
      gpios = <&gpioa 0x8 GPIO_ACTIVE_HIGH>;
    };

    vnh5019a_enb: vnh5019a_enb{
      compatible = "st,vnh5019a";
      gpios = <&gpiob 0x6 GPIO_ACTIVE_HIGH>;
    };
};