&fdcan1{
  pinctrl-0 = <&fdcan1_rx_pa11 &fdcan1_tx_pa12>;
  pinctrl-names = "default";
  clocks= <&rcc STM32_CLOCK(APB1,25)>,<&rcc STM32_SRC_PLL_Q FDCAN_SEL(1)>;
  status = "okay";
};

&spi1{
  pinctrl-0 = <&spi1_nss_pa4
               &spi1_sck_pa5
               &spi1_miso_pa6
               &spi1_mosi_pa7>;
  pinctrl-names = "default";
  status = "okay";
};

&{/chosen}{
 zephyr,canbus =&fdcan1;
};